

  {% extends "base.html" %}  {% block main %}

    <div  class="mainDiv">
        <div class="list-group">
            <a href="#" class="list-group-item active">
              列表
            </a>
            <a href="/class1" class="list-group-item">函数的几种方式</a>
            <a href="#" class="list-group-item">面向对象之封装</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
            <a href="#" id="size-12">12</a>
<a href="#" id="size-14">14</a>
<a href="#" id="size-16">16</a>
          </div>
    </div>  

{% endblock %}
