
.container-login {
  background-color: #ffffff;
  box-shadow: #bdbdbd 0 15px 50px;
  margin: 100px 15px;
  padding: 20px 15px;

 

  
}

h1 {
  color:rgba(0,0,0,.87);
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

button {
  width: 100%;
}
