<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="index.js" ></script>
</head>

<body ng-app="myApp">
    <div ng-if="1==1">测试ng-if</div>
    <div ng-hide="true">测试</div>
    <div ng-show="true">测试ng-show</div>
    <div ng-repeat="x in [1,2,3]">
        <div>{{x}}</div>
    </div>
    <div>
        <smartdot-directive></smartdot-directive>
        <div class="smartdot-directive"></div>
        <div smartdot-directive></div>
    </div>  
   
</body>

</html>