.mat-drawer {
  width: 80vw;
}
.mat-drawer-content {
  min-height: 100vh;
}
  
  .mat-toolbar {
    box-shadow: 0 0 15px rgba(0,0,0,.87);
    position: relative;
    z-index: 1000;
  
   
  }
  
  .sidenav-button {
    margin-right: 16px;
  }

  .brand {
    font-weight: 300;
  }

 