<h2 >{{title}}</h2>
<form  novalidate >
    <mat-dialog-content>
        <div fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput   autocomplete="nope"  type="text">
          </mat-form-field>
          <mat-form-field fxFlex>
              <input matInput type="text">
          </mat-form-field>
          <mat-form-field fxFlex>
                <input matInput type="text">
          </mat-form-field>
          <mat-form-field fxFlex>
                  <input matInput type="text">
            </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions fxLayout="row-reverse">
        <div>
          <button mat-button mat-dialog-close>Cancel</button>
          <button mat-button type="submit" >Submit</button>
        </div>
      </mat-dialog-actions>
</form>
